*{
    margin:0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin:30px;
    font-size: 55px;
    color: #f02;
}

#count{
    margin: 10% 20% auto;
    border: 2px dotted #3ff;
    width:200px;
    height:280px;
    padding-left: 10px;

}
.counter-display{
    padding-left: 2px ;
    
}

.minus{
    outline: none;
    margin:25% 5%  2%;
    width: 25px;
    height: 30px;
    border-radius: 6px;
    box-shadow:  2px 2px 2px #f01;
    margin-left: 15%;
    cursor:pointer;
}
   
.plus{
    outline: none;
    margin-left:30%;
    width: 25px;
    height: 30px;
    border-radius: 6px;
    box-shadow:  2px 2px 2px #f01;
    cursor:pointer;
    
}

.reset{
    font-size: 25px;
    margin:15% 0 auto;
    outline: none;
    padding-left: 0 auto;
    width: 85px;
    height: 35px;
    border-radius: 6px;
    box-shadow:  2px 2px 2px #f01;
    margin-left: 18%;
    cursor:pointer;
}
    



/* MEDIA QUERY */

@media only screen and (min-width:250px){
    #count{
        margin: 20% 30% auto;
        width:180px;
        height:280px;
    }

}   

    


@media only screen and (min-width:899px){
    #count{
        margin: 10% 48% auto;
        border: 2px dotted #3ff;
        width:185px;
        height:280px;
        
    
    }
}