*{
    margin:0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin:30px;
    font-size: 78px;
    color: #f02;
}

#count{
    margin: 10% 46% auto;
    border: 2px dotted #3ff;
    width:105px;
    height:95px;
    padding-left: 12px;

}

.counter{
    margin:0;
    width:78px;
    height: 35px;
    font-size: 35px;
    padding-left: 22px;
    margin-bottom: 5px;
   
    
}

.minus{
    text-align: center;
    padding-left: 12px;
    outline: none;
    font-size: 30px;
    border: 4px solid #f01;
    cursor: pointer;
}

.plus{
    padding-left: 12px;
    outline:none;
    font-size: 30px;
    border: 4px solid #f01;
    cursor: pointer;
}

/* MEDIA QUERY */

@media only screen and (min-width:250px){
    #count{
        width:105px;
        height:100px;
    }
}

@media only screen and (min-width:899px){
    #count{
        margin: 10% 46% auto;
        border: 2px dotted #3ff;
        width:105px;
        height:95px;
        padding-left: 12px;
    
    }
}